:root {

    --text-color-headings:  #232F3C;
    --text-color-general: #333333;
    --text-color-light-headings: #F5F6F9;
    --text-color-light: #fff;
    --elements-color-bright: #EF5B63;
    ---primary-font-family: 'Rubik', sans-serif;
    ---secondary-font-family: 'IBM Plex Mono', monospace;
  }


/* offer*/
.offer {
    position: absolute;
    width: 1436.85px;
    height: 455px;
    left: 255px;
    top: 2800px;
    }

/* Не можеш обрати свій курс */
.text1
{
    position: absolute;
    width: 765px;
    height: 176px;
    left: 305px;
    top: 1645px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 88px;
    /* or 138% */

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* Наші фахівці допоможуть */

.text2 {
    position: absolute;
    width: 765px;
    height: 102px;
    left: 305px;
    top: 1831px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    /* or 131% */


    color: #FFFFFF;
}

/* calm_border */


.calm_border
{
    position: absolute;
    width: 221px;
    height: 60px;
    left: 305px;
    top: 1974px;
}

/* img group */

.img_group{
    position: absolute;
    width: 521.08px;
    height: 417.56px;
    left: 1170.77px;
    top: 1639.74px;
}

/* Mask Group */

.mask_group
{
    position: absolute;
    width: 1410px;
    height: 455px;
    left: 255px;
    top: 1615px;
}

/* salaries in IT */

.salaries_in_IT
{
    position: absolute;
    width: 1410px;
    height: 534px;
    left: 255px;
    top: 2190px;
}

/* Зарплати IT Фахівців */


.salaries
{
    position: absolute;
    width: 860px;
    height: 88px;
    left: 255px;
    top: 2190px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 88px;
    /* identical to box height, or 138% */

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #232F3C;
}

/* junior */

.junior
{
    position: absolute;
    width: 450px;
    height: 420px;
    left: 255px;
    top: 2304px;
}

/* salary junior*/
.salary_j{
    position: absolute;
    width: 135px;
    height: 55px;
    left: 275px;
    top: 2629px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 55px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #232F3C;
}

/* junior */

.text_j
{
    position: absolute;
    width: 216px;
    height: 66px;
    left: 275px;
    top: 2334px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #4FCC97;
}

/* 6month */

.month6
{
    position: absolute;
    width: 228px;
    height: 46px;
    left: 275px;
    top: 2392px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;
    /* identical to box height, or 230% */

    text-transform: uppercase;

    color: #333333;
}

/* per month */


.per_month_j
{
    position: absolute;
    width: 106px;
    height: 29px;
    left: 275px;
    top: 2675px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */


    color: #333333;
}

    /* salary from */


.salary_from_j
{
    position: absolute;
    width: 108px;
    height: 26px;
    left: 275px;
    top: 2604px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */


    color: #333333;
}

/* Mask junior */

.mask_junior
{
    position: absolute;
    width: 450px;
    height: 420px;
    left: 255px;
    top: 2304px;

    background: #FFFFFF;
    order: 1px solid #4FCC97;
    border-radius: 20px;
}
    /* Junior */


.picture_junior
{
    position: absolute;
    width: 474.36px;
    height: 477.84px;
    left: 371px;
    top: 2335px;
}

/* middle */


.middle
{
    position: absolute;
    width: 450px;
    height: 420px;
    left: 735px;
    top: 2304px;
}

/* salary_m */


.salary_m
{
    position: absolute;
    width: 150px;
    height: 55px;
    left: 755px;
    top: 2629px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 55px;
/* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #232F3C;
}

/* middle */


.text_m
{
    position: absolute;
    width: 215px;
    height: 66px;
    left: 755px;
    top: 2334px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #55CBDC;
}

/* 2years */


.years2
{
    position: absolute;
    width: 205px;
    height: 46px;
    left: 755px;
    top: 2392px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;
/* identical to box height, or 230% */

    text-transform: uppercase;

    color: #333333;
}

/* per month */
.per_month_m 
{
    position: absolute;
    width: 106px;
    height: 29px;
    left: 755px;
    top: 2675px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */


    color: #333333;
}

/* salary from */


.salary_from_m
{
    position: absolute;
    width: 108px;
    height: 26px;
    left: 755px;
    top: 2604px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */


    color: #333333;
}


/* Mask Middle */

.mask_middle
{
    position: absolute;
    width: 450px;
    height: 420px;
    left: 735px;
    top: 2304px;

    background: #FFFFFF;
    border: 1px solid #55CBDC;
    border-radius: 20px;
}
/* middle */

.picture_middle
{
    position: absolute;
    width: 508.37px;
    height: 508.52px;
    left: 835.32px;
    top: 2325.05px;
}

/* senior */

.senior
{position: absolute;
width: 450px;
height: 420px;
left: 1215px;
top: 2304px;
}

/* senior */

.text_s
{
    position: absolute;
    width: 211px;
    height: 66px;
    left: 1235.63px;
    top: 2334px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

color: #EF5B63;
}

/* 4years */

.years4
{
    position: absolute;
    width: 206px;
    height: 46px;
    left: 1238.63px;
    top: 2392px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;
    /* identical to box height, or 230% */

    text-transform: uppercase;

    color: #333333;
}

/* salary_s */

.salary_s
{
    position: absolute;
    width: 166px;
    height: 55px;
    left: 1235px;
    top: 2629px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 55px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #232F3C;
}

/* per month */


.per_month_s
{
    position: absolute;
    width: 106px;
    height: 29px;
    left: 1235px;
    top: 2675px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */

    color: #333333;
}

/* salary from */

.salary_from_s
{
    position: absolute;
    width: 108px;
    height: 26px;
    left: 1235px;
    top: 2604px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    color: #333333;
}

/* Mask Group */

.mask_senior
{
    position: absolute;
    width: 450px;
    height: 420px;
    left: 1215px;
    top: 2304px;

    background: #FFFFFF;
    border: 1px solid #EF5B63;
    border-radius: 20px;
}

/* Senior picture */

.picture_senior 
{
    position: absolute;
    width: 511.14px;
    height: 445.26px;
    left: 1350.51px;
    top: 2342px;
}

/* about PCA */

.About_PCA
{
    position: absolute;
    width: 1410px;
    height: 582px;
    left: 255px;
    top: 2844px;
}
/* img */

.img_female
{
    position: absolute;
    width: 538.74px;
    height: 582px;
    left: 1126.26px;
    top: 2844px;
}
/* text */

.text_PCA
{
    position: absolute;
    width: 854px;
    height: 406px;
    left: 255px;
    top: 2956px;
}

/* Rectangle 23 */

.rectangle
{
    position: absolute;
    width: 10px;
    height: 172px;
    left: 255px;
    top: 2956px;

    background: #55CBDC;
    border-radius: 36px;
}
    /* Powercode academy */

.PCA
{
    position: absolute;
    width: 800px;
    height: 76px;
    left: 291px;
    top: 2956px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    /* identical to box height */

    letter-spacing: 4px;
    text-transform: uppercase;

    color: #232F3C;
}

    /* це курси... */

.courses
{
    position: absolute;
    width: 818px;
    height: 84px;
    left: 291px;
    top: 3048px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;
    /* or 175% */

    letter-spacing: 1px;

    color: #232F3C;
}

    /* наша місія... */

.mission
{
    position: absolute;
    width: 783px;
    height: 204px;
    left: 295px;
    top: 3158px;

    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
/* or 173% */


    color: #333333;
}


/*gallery*/

.container {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}



.gallery-section-flex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 10vw);
    grid-gap: 1.2rem;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 0;
    padding: 0;
}

.gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    padding: 0;
}

.gallery-item-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    padding: 0;
}

.gallery-item-4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    padding: 0;
}

.gallery-item-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    padding: 0;
}

.gallery-item-6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: 0;
    padding: 0;
}

.gallery-item-7 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    padding: 0;
}

.gallery-item-8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    padding: 0;
}

.gallery-item-9 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    padding: 0;
}


.gallery-item-10 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    padding: 0;
}


/*partners*/

.partners-section {
    padding-top: 10%;
}

.partners-flex {
   display: flex;
   justify-content: space-around;
   margin-top: -8.5%;
}

.partners-section::before {
    display: inline-block;
    z-index: -1;
    padding-left: 5%;
    content: "НАШІ ПАРТНЕРИ";
    color: var(--text-color-light-headings);
    font-family: var(---primary-font-family);
    font-size: 7em;
    font-weight: 700;
  } 

/*contacts*/

  .contacts-section {
    margin-top: 15%;
    padding: 46px;
    background-color: var(--text-color-general);
    border-radius: 20px;
    z-index: -1;

 }

 .map-button-1 {
    background-color: var(--elements-color-bright);
    padding: 12px 43px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-family: var(---secondary-font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;

 }

 .map-button-2 {
    background-color: transparent;
    padding: 12px 22px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    color: #fff;
    font-family: var(---secondary-font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;

 }

 .contacts-list {
    padding: 30px 0px;
    color:#fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: var(---secondary-font-family);
    font-style: normal;
 }

 .social-media-icons-bottom {
    padding-top: 70px;
 }


 .bottom-form {
    z-index: 2;
    width: 350px;
    height: 28em;
    padding: 46px;
    margin-top: 20px;
    background-color: var(--text-color-headings);
    border-radius: 20px;
 }


 .form-heading {
    margin: 0px 0px 36px 0px;
    font-family: var(---primary-font-family);
    font-weight: 300;
    font-size: 36px;
    color: var(--text-color-light-headings);
    text-transform: uppercase;
    letter-spacing: 4px;

 }

 .form-text {
    font-family: var(---secondary-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color-light-headings);
 }

 ul {
    list-style-type: none;
    padding-inline-start: 0px;
 }

 .contact-form-bottom-field {
    margin-top: 16px;
    padding: 10px 5px 10px 5px;
    width: 95%;
    border-radius: 10px;
    font-family: var(---secondary-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
 }

 .contact-form-bottom-btn {
    margin-top: 30px;
    padding: 10px 5px 10px 5px;
    width: 98%;
    background: var(--elements-color-bright);
    color: var(--text-color-light-headings);
    border-radius: 10px;
    border: none;
    font-family: var(---primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
 }


 /*footer*/

 footer {
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
 }

 .footer-with-background {
    margin-top: 50px;
    padding: 34px 34px;
    background-color: #F5F6F9;
    border-radius: 20px;
 }

 .footer-text {
    font-family: var(---primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
 }

 .mobile-container {
    display: none;
 }

 @media screen and (max-width: 760px) {
    .desktop {
        display: none;
    }

    footer {
        display: none;
    }

    .mobile-container {
        display: block;

    }

    .mobile-header-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }



    .mobile-logo {
        flex: 45%;

    }
    .mobile-phones {
        flex: 40%;
        font-family: var(---primary-font-family);
        font-size: 12px;
    }

    .mobile-menu {
        flex: 5%;
    }

    .mobile-hero-background {
        background-image: url("img/mobile-blob.png");
        height: 55vh;
        text-align: center;
        color: var(--text-color-general);
    }
    
    .additional-heading {
        font-family: var(---secondary-font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-top: 80px;
        margin-top: 10px;
    }

    .mobile-h1 {
        font-family: var(---primary-font-family);
        font-weight: 700;
        font-size: 38px;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .heading-button {
        margin-top: 25px;
        background-color: var(--elements-color-bright);
        padding: 12px 43px;
        border-radius: 10px;
        border: none;
        color: #fff;
        font-family: var(---secondary-font-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-right: 10px;
        text-transform: uppercase;

    }

    .video-play-button {
        margin-top: 30px;
        background-color: #4FCC97;
        padding: 12px 16px;
        border-radius: 50%;
        border: none;
        color: #fff;
        font-family: var(---secondary-font-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-right: 10px;
        text-transform: uppercase;

    }

    .explanatory-text {
        font-family: var(---secondary-font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .courses-section-mobile {
        font-family: var(---primary-font-family);
        color: var(--text-color-general);
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align: center;
    }

    .tabs-flex-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .tab-column-1 {
        flex: 33%;
    }

    .tab-column-2 {
        flex: 33%;
    }

    .tab-column-3 {
        flex: 33%;
    }

    .tab-button {
        width: 95%;
        border: 1px solid var(--text-color-general);
        border-radius: 10px;
        background-color: transparent;
        color: var(--text-color-general);
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }

    .tab-button:hover {
        width: 95%;
        border: none;
        border-radius: 10px;
        background-color: var(--elements-color-bright);
        color: var(--text-color-light-headings);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .single-card {
        background: var(--text-color-headings);
        background-image: url('img/semi-transparent-bg.png');
        margin-top: 20px;
        margin: 15px auto;
        display: block;
        padding: 15px;
        width: 90%;
        height: 180px;
        color: var(--text-color-light-headings);
        border-radius: 20px;
    }

    .card-description-text {
        font-family: var(---secondary-font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }

    .h2-mobile-light {
        margin-top: 65px;
        font-family: var(---primary-font-family);
        font-weight: 700;
        font-size: 26px;
        line-height: 36px;
    }

    .single-card:hover {
        background: #55CBDC;
        background-image: none;
    }
 }